{%extends 'base.html'%}
{% block body %}
<div class="container my-4">
    {%for i in  context %}
    {% for j in profile %}
    {% if forloop.counter == forloop.parentloop.counter %}
    <div class="card my-2">
        <div class="card-header">
            {{i.username}}
        </div>
        <div class="card-body">
            <div class="media">
                <img src="{{j.image.url}}" class="align-self-start mr-3 userImage" style="height: 200px; width: 200px;  border-radius: 50%">
                <div class="media-body ml-4" style="padding-top: 2%; padding-left: 2%; ">
                    <h5 class="card-title">{{i.first_name}}</h5>
                    <p class="card-text">{{j.bio}}</p>
                    
                    <a href="profile/{{i.username}}" class="btn btn-primary">Profile>></a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {%endfor%}
    {%endfor%}
   
</div>
{% endblock %}
{% block nav_btn1%}
<a href="/logout" role="button" class="btn btn-outline-primary ml-4">
    Logout
</a>
{%endblock%}